div {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
}

table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

mat-input-container {
    width: 220px;
}