<ul>
    <div>
        <li>
            <a>/r/krz {{version}}</a>
        </li>
        <li>
            <a *ngIf="pageShown === 1" style="background: #FF8933;">New</a>
            <a *ngIf="pageShown !== 1" class="clickable" style="cursor: pointer;" (click)="newPage()">New</a>
        </li>
        <li>
            <a *ngIf="pageShown === 2" style="background: #FF8933;">Hot</a>
            <a *ngIf="pageShown !== 2" class="clickable" style="cursor: pointer;" (click)="hotPage()">Hot</a>
        </li>
        <li style="float: right;">
            <div *ngIf="!isLoggedIn()">
                <a class="clickable" (click)="openLoginMask()">Login</a>
            </div>
            <div *ngIf="isLoggedIn()">
                <a class="clickable" [matMenuTriggerFor]="menu3">{{loggedInUser.username}}</a>
                <mat-menu #menu3="matMenu">
                    <button mat-menu-item (click)="showMyPosts()">My Posts</button>
                    <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>
            </div>
        </li>
        <li style="float: right;" (click)="upload()">
            <div *ngIf="isLoggedIn()">
                <a *ngIf="pageShown === 3" style="background: #FF8933;">Upload</a>
                <a *ngIf="pageShown !== 3" class="clickable">Upload</a>
            </div>
        </li>
    </div>
</ul>
<div class="content">
    <router-outlet></router-outlet>
</div>