ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #FFA953;
    max-height: 46px;

    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.clickable:hover {
    background: #FF8933;
}

.fill-remaining-space {
    /* this fills the remaining space, by using flexbox. 
    / every toolbar row uses a flexbox row layout.*/
    flex: 1 1 auto;
}

.menu {
    padding: 8px;
    border-radius: 12px;
    color: white;
}

.content {
    margin-top: 46px;
}