.upload-form {
    min-width: 200px;
    width: 100%;
}

.upload-full-width {
    width: 100%;
}

.page {
    margin: 16px;
    margin-top: 62px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid #d0d0d0;
    background: #ffffff;
    border-radius: 4px;
}