<div class="page">
  <div class="image">
    <div *ngIf="!previewPath" class="image-upload-wrap">
      <input class="file-upload-input" type='file' (change)="fileChanged($event)" accept="image/*" />
      <div class="drag-text">
        <h3>Drop your image here</h3>
      </div>
    </div>
    <div *ngIf="previewPath" class="file-upload-content">
      <div class="file-upload-removebox">
        <img class="file-upload-image" [src]="previewPath" />
        <div class="image-title-wrap">
          <button type="button" class="remove-image" (click)="removeImage()">
            Remove Image
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="text">
    <mat-form-field class="upload-full-width">
      <input matInput placeholder="Title" type="text" [(ngModel)]="title">
    </mat-form-field>
    <mat-form-field class="upload-full-width">
      <textarea matInput placeholder="Description (Optional)" [(ngModel)]="description"></textarea>
    </mat-form-field>
  </div>

  <div class="upload" align="center" width="100%">
    <button mat-raised-button style="background-color: #FFA953; color: white;" (click)="upload()">Upload</button>
  </div>
</div>