.clickable {
  cursor: pointer;
}

.zoomContainer {
    position: relative;
    width: 50%;
}

.zoomImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.zoomOverlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.zoomContainer:hover .zoomImage {
  opacity: 0.3;
}

.zoomContainer:hover .zoomOverlay {
  opacity: 1;
}

.zoom {
  color: black;
  font-size: 50px;
  width: 50px;
  height: 50px;
}

.page {
  padding: 16px;
}

.post {
  margin-left: 1px;
  margin-top: 1px;
  margin-right: 1px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid #d0d0d0;
  background: #ffffff;
}

.post:hover {
  border: 1px solid #a0a0a0;
}

.bigimage {
  max-width: 800px;
}

.voteButton {
  font-size: 20px;
}

.voteButton:hover {
  color: rgb(238, 158, 79);
}

.link {
  color: blue;
}

.link:hover {  
  text-decoration: underline;
}