<div class="page">
  <div *ngFor="let post of data; let i = index" class="post clickable" (click)="showPost(post.postId)">
    <div>
      <table width="100%">
        <tr>
          <td width="26px">
            <table style="text-align: center">
              <tr (click)="vote(post, 1, $event)" class="clickable">
                <mat-icon *ngIf="post.yourvote != 1" class="voteButton">thumb_up</mat-icon>
                <mat-icon *ngIf="post.yourvote == 1" style="color: #FFA953;" class="voteButton">thumb_up</mat-icon>
              </tr>
              <tr>
                {{post.upvotes - post.downvotes}}
              </tr>
              <tr (click)="vote(post, -1, $event)" class="clickable">
                <mat-icon *ngIf="post.yourvote != -1" class="voteButton">thumb_down</mat-icon>
                <mat-icon *ngIf="post.yourvote == -1" style="color: #FFA953;" class="voteButton">thumb_down</mat-icon>
              </tr>
            </table>
          </td>
          <td *ngIf="post.path" style="width: 64px" (click)="makeBig(post, $event)" class="zoomContainer clickable">
            <img [src]="post.path" style="max-width: 64px; max-height: 64px" class="zoomImage">
            <div class="zoomOverlay">
              <mat-icon *ngIf="!post.big" class="zoom">zoom_in</mat-icon>
              <mat-icon *ngIf="post.big" class="zoom">zoom_out</mat-icon>
            </div>
          </td>
          <td>
            <table width="100%">
              <tr>
                <td>
                  <a style="font-size: 24px;">
                    {{post.title}}
                  </a>
                </td>
                <td width="24px">
                  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="stopPropagation($event)" class="more">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="copyLink(post)">
                      <mat-icon>file_copy</mat-icon>
                      <span>Copy link</span>
                    </button>
                    <button *ngIf="isMyPost(post)" (click)="deletePost(post)" mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete post</span>
                    </button>
                  </mat-menu>
                </td>
              </tr>
              <tr>
                von
                <a (click)="showUser(post.userId, $event)" class="link">{{post.user}}</a>
              </tr>
            </table>
          </td>
        </tr>
        <tr *ngIf="post.big">
          <td colspan="4">
            <img [src]="post.path" (click)="makeBig(post, $event)" class="clickable bigimage">
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div *ngIf="data.length > 0" class="loadmore" align="center" width="100%">
    <button *ngIf="!loading" mat-raised-button style="background-color: #FFA953; color: white;" (click)="loadNext15Posts()">Load more</button>
    <button *ngIf="loading" mat-raised-button style="background-color: rgb(255, 223, 191); color: white; cursor: default;">Loading...</button>
  </div>
</div>
<br>
<a *ngIf="!loading && (!data || data.length == 0)" align="center" style="text-align:center; display:block; color: gray;">
  No posts yet!
</a>